@page
@model Vocas.Pages.Word.IndexModel;
@foreach (var word in Model.Word)
{
    <div>
        <p>Term: @word.Term</p>
        <p>Part of Speech: @word.PartOfSpeech</p>
        <p>Definition: @word.Definition</p>
        <p>Example: @word.Example</p>
        <p>Language: @word.Language</p>
        <!-- Add other properties as needed -->
    </div>
}